{% extends "base.html" %}

{% block title %}Reservation{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}


<form>
    <div class="mb-3">
        <label for="table_id" class="form-label">Numéro de la table</label>
        {% if reservation_id is defined %}

        <input type="text" class="form-control" id="table_id" placeholder="{{ reservation_id }}" readonly>
    </div>
    {% else %}
    <select class="form-select" aria-label="Default select example">
        <option selected>Selectionnez une table libre</option>
        {% for table in free_tables %}
        <option value="{{table}}">{{table}}</option>
        {% endfor %}
    </select>
    </div>
    {% endif %}
</form>

{% endblock %}