{% extends "base.html" %}

{% block title %}Reservation{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}


<form action="{{ url_for('booking') }}" method="post">

    <div class="mb-3">
        <label for="table_id" class="form-label">Numéro de la table</label>
        <input name = "reservation_id" type="text" class="form-control" id="table_id" value="{{ reservation_id }}" readonly>
    </div>

    <label for="table_id" class="form-label">Periode de réservation</label>
    <input name="reservation_periode" type="text" class="form-control" id="table_periode" value="{{ reservation_periode }}" readonly>

    <div class="mb-3">
        <label for="table_seats" class="form-label">Selectionnez le nombre de personne</label>
        <select name="seats" class="form-select" id="table_seats" aria-label="Default select example">
            <option selected>1</option>
            {% for seat in seats %}
            {% if seat != 1 %}
            <option value="{{ seat }}">{{ seat }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Réserver</button>
</form>

{% endblock %}